.Chat-main
  .Chat-main__group-info
    .room-info
      .Chat-main__group-info__room
        = @group.name
      .Chat-main__group-info__member
        Member:
        - @group.users.each do |user|
          = user.name

    .Chat-main__group-info__edit
      = link_to 'Edit', edit_group_path(@group)

  .Chat-main__message-list
    = render @messages

  .Chat-main__post-form
    = form_with model: [@group, @message], html: {class: "Chat-main__post-form__message"}, local: true do |f|
      .Chat-main__post-form__message__input-text
        = f.text_field :content, class: 'Form__inputcontent', placeholder: 'type a message'
        = f.label :image, class: 'Form__inputimage' do
          = icon('far', 'image', class: 'Form__inputimage')
          = f.file_field :image, class: 'Form__file'
      = f.submit 'Send', class: 'Form__submit'